{% extends 'base.html.twig' %}

{% block title %}Accueil Panneau d'administration{% endblock %}

{% block body %}
    <h1>Bienvenu {{  app.user.username }}</h1>
    <ul>
        <li>Il y a {{ numberAdvertSubmitted[0].nb_advert }} annonce soumise en attente.</li>
    </ul>
{% endblock %}
